body {
    background-color: #2b8eff;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #ffffff;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input {
    width: 270px;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

.login-container button:hover {
    background: #0056b3;
}